NODE_ENV=development
PORT=8080
BASE_URL=http://localhost:8080

PERSISTENCE=MONGO
MONGO_URL=mongodb://127.0.0.1:27017/ecommerce_backend2

JWT_SECRET=cambia_este_secreto
JWT_EXPIRES_IN=24h
COOKIE_NAME=currentUser
COOKIE_SECRET=cambia_este_secreto
BCRYPT_SALT_ROUNDS=10

RESET_PASSWORD_SECRET=cambia_este_secreto
RESET_PASSWORD_EXPIRES_IN=1h

MAIL_SERVICE=gmail
MAIL_USER=
MAIL_PASS=
MAIL_FROM="Ecommerce Coderhouse <no-reply@ecommerce.local>"

ADMIN_EMAIL=admin@ecommerce.com
ADMIN_PASSWORD=Admin1234
